<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="myApp" ng-controller="LoginController">
    <div class="container" style="width: 550px;">
        <div style="text-align:center;color:rgb(167, 23, 107)">
            <h3><b>Login Page</b></h3>
        </div>
        <div>
           
          </div>
        <form role="form" class="well">
            <div class="form-group">
                <label for="email"> Email: </label>
                <input type="email" id="email" class="form-control" placeholder="Enter Email" ng-model="user.email" required>
            </div>
            <div class="form-group">
                <label for="password"> Password: </label>
                <input type="password" id="password" class="form-control" placeholder="Enter Password" ng-model="user.password" required>
            </div>
            <br>
            <button type="submit" class="btn btn-primary" ng-click="login()">Login</button>
            <button class="btn btn-primary" onclick="location.href='index.html'">Create new account</button>
        </form>
        <div style="text-align:center;color:rgb(33, 136, 12)" ng-show="loginFailed">Invalid email or password</div>
    </div>
</body>
</html>


